node_modules
npm-debug.log*
package-lock.json
.*/package-lock.json
.DS_Store
.env
**/dist/
coverage
ops/logs
ops/cache

# Next.js build output
.next
services/web/node_modules/@types/react-dom/index.d.ts
