name: Build and Push (prod)

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push API
        uses: docker/build-push-action@v6
        with:
          context: ./services/api
          push: true
          tags: |
            ghcr.io/${{ github.repository }}-api:prod
            ghcr.io/${{ github.repository }}-api:${{ github.sha }}

      - name: Build & push WEB
        uses: docker/build-push-action@v6
        with:
          context: ./services/web
          push: true
          tags: |
            ghcr.io/${{ github.repository }}-web:prod
            ghcr.io/${{ github.repository }}-web:${{ github.sha }}
